apiVersion: v1
kind: Namespace
metadata:
  labels:
    app: meshery
    component: operator
  name: meshery
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: meshery-operator
  namespace: meshery
  labels:
    app: meshery
    component: operator
spec:
  selector:
    matchLabels:
      app: meshery
      component: operator
  replicas: 1
  template:
    metadata:
      labels:
        app: meshery
        component: operator
    spec:
      terminationGracePeriodSeconds: 10
      containers:
      - name: manager
        image: layer5io/meshery-operator:stable-latest
        imagePullPolicy: Always
        resources:
          {}
        ports:
        - containerPort: 9443
          name: server
          hostPort: 9443
        - containerPort: 8080
          name: metrics
          hostPort: 8080
        command:
        - /manager
        args:
        - --enable-leader-election
        resources:
          limits:
            cpu: 100m
            memory: 30Mi
          requests:
            cpu: 100m
            memory: 20Mi
