name: Meshery-Operator CI
permissions: read-all

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
    golangci-lint:
        strategy:
          matrix:
            platform: [ubuntu-24.04]
            go-version: [1.25.x]
        runs-on: ${{ matrix.platform }}
        steps:
          - uses: actions/setup-go@v4
            with:
              go-version: ${{ matrix.go-version }}
              cache: true
              cache-dependency-path: go.sum
          - name: Checkout code
            uses: actions/checkout@master
          - name: golangci-lint
            uses: golangci/golangci-lint-action@v9
            with:
              version: v2.8.0
          - name: Run golangci-lint
            run: make lint
    tidy:
        name: Go mod tidy
        runs-on: ubuntu-24.04
        steps:
          - name: Checkout code
            uses: actions/checkout@master
          - name: Set up Go
            uses: actions/setup-go@v4
            with:
              go-version: 1.25.x
              cache: true
              cache-dependency-path: go.sum
          - name: Run go mod tidy
            run: make tidy
    codecov:
        # do not require golandci-lint before codecov, there are some issues there to address, we still want unit tests to run
        needs: [tidy]
        name: Code Coverage
        if: github.repository == 'meshery/meshery-operator'
        runs-on: ubuntu-24.04
        steps:
          - name: Checkout code
            uses: actions/checkout@master
          - name: Set up Go
            uses: actions/setup-go@v4
            with:
              go-version: 1.25.x
              cache: true
              cache-dependency-path: go.sum
          - name: Set up test-env
            run: make test-env
          - name: Run unit tests
            run: make test
          - name: Upload coverage to Codecov
            if: github.repository == 'meshery/meshery-operator'
            uses: codecov/codecov-action@v3
            with:
              files: ./coverage.txt
              flags: unittests
    # if review comment includes approved or LGTM, run the tests
    # if review comment includes changes requested, do not run the tests
    # if review comment includes approved or LGTM, run the tests
    build:
        needs: [golangci-lint, tidy, codecov]
        name: Build
        runs-on: ubuntu-24.04
        steps:
          - name: Checkout code
            uses: actions/checkout@master
          - name: Set up Go
            uses: actions/setup-go@v4
            with:
              go-version: 1.25.x
              cache: true
              cache-dependency-path: go.sum
          - name: Build
            run: make build
