name: Meshkit Error Codes Utility Runner
permissions: read-all

on:
    push:
        branches:
            - "master"
        paths:
            - "**.go"

jobs:
    Update-error-codes:
        name: Error codes utility
        permissions:
          contents: write

        if: github.repository == 'meshery/meshery-operator'
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@master
              # token here with write access to meshery-operator repo
              with:
                  token: ${{ secrets.GH_ACCESS_TOKEN }}
                  ref: "master"

            - name: Setup Go
              uses: actions/setup-go@master
              with:
                  go-version: 1.25

            - name: Run utility
              run: |
                  go get github.com/meshery/meshkit/cmd/errorutil
                  go run github.com/meshery/meshkit/cmd/errorutil -d . update --skip-dirs meshery -i ./helpers -o ./helpers
            # to update errorutil* files in meshery-operator repo
            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_user_name: l5io
                  commit_user_email: ci@meshery.io
                  commit_author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
                  commit_options: "--signoff"
                  commit_message: "run error codes utility"
                  file_pattern: helpers/ **.go

            # to push changes to meshery docs
            - name: Checkout meshery
              uses: actions/checkout@master
              with:
                  repository: "meshery/meshery"
                  # token with write access to meshery repository
                  token: ${{ secrets.GH_ACCESS_TOKEN }}
                  path: "meshery"
                  ref: "master"

            - name: Update and push docs
              run: |
                  echo '{ "errors_export": "" }' | jq --slurpfile export ./helpers/errorutil_errors_export.json '.errors_export = $export[0]' > ./meshery/docs/_data/errorref/meshery-operator_errors_export.json
                  cd ./meshery
                  git config user.name l5io
                  git config user.email ci@meshery.io
                  if git diff --exit-code --quiet
                  then
                    echo "No changes to commit"
                    exit
                  fi
                  git add ./docs/_data/errorref/meshery-operator_errors_export.json
                  git commit -m "[Docs] Error Code Reference: Updated codes for Meshery Operator" --signoff
                  git push origin master
