name: Label Commenter
permissions: read-all

on:
  issues:
    types:
      - labeled

  pull_request_target:
    types:
      - labeled

jobs:
  comment:
    permissions:
      contents: read
      issues: write
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@master
        with:
          ref: master # Set your default branch

      - name: Label Commenter
        uses: peaceiris/actions-label-commenter@v1
